<script type="text/javascript">

  function paginate(pageId) {
    'use strict';

      for (var i = 1; i < 4; i++) {

          var page = document.getElementById(i);
          page.style.display = 'none';

          var paginatorId = 'paginate' + i;
          var paginatorButton = document.getElementById(paginatorId);
          paginatorButton.className = 'block center bg-lg1 py1';

      }

      var page = document.getElementById(pageId);
      page.style.display = '';

      var paginatorId = 'paginate' + pageId;
      var paginatorButton = document.getElementById(paginatorId);
      paginatorButton.className = 'block center bg-lg0 py1';
  }

</script>

<div class="container">

  <p class='ml1 mr1 mt3 justify'><span class='bold'>Thundr</span> is the unofficial course catalog for Lakehead Univeristy students. Enter a search term above, <span class='italic'>ex: COMP-1411</span>, or browse courses below.</p>

  <div class='border-top-light border-right-light border-left-light rounded ml1 mr1 mb2'>

    <ul class="list-reset">
      <li class='col col-4 border-bottom-light border-right-light'><a class="block center bg-lg1 bg-lg py1" href="javascript:void(0);" onclick="paginate(1)" id="paginate1">A - F</a></li>
      <li class='col col-4 border-bottom-light'><a class="block center bg-lg1 py1" href="javascript:void(0);" onclick="paginate(2)" id="paginate2">G - M</a></li>
      <li class='col col-4 border-bottom-light border-left-light'><a class="block center bg-lg1 py1" href="javascript:void(0);" onclick="paginate(3)" id="paginate3">N - Z</a></li>
    </ul>

    <div id='1'>
      <% @deptArray1.each do |d| %>
        <div class='col col-6 px1 py1 border-bottom-light'>
          <span class='bold'><%= d[:dept_code] %></span>
        </div>
        <div class='col col-6 px1 py1 border-bottom-light border-left-light'>
          <%= link_to(d[:dept_name], 'departments/'+d[:dept_code], {}) %>
        </div>
      <% end %>
      <div class='clearfix'></div>
    </div>

    <div id='2' style='display: none;'>
      <% @deptArray2.each do |d| %>
        <div class='col col-6 px1 py1 border-bottom-light'>
          <span class='bold'><%= d[:dept_code] %></span>
        </div>
        <div class='col col-6 px1 py1 border-bottom-light border-left-light'>
          <%= link_to(d[:dept_name], 'departments/'+d[:dept_code], {}) %>
        </div>
      <% end %>
      <div class='clearfix'></div>
    </div>

    <div id='3' style='display: none;'>
      <% @deptArray3.each do |d| %>
        <div class='col col-6 px1 py1 border-bottom-light'>
          <span class='bold'><%= d[:dept_code] %></span>
        </div>
        <div class='col col-6 px1 py1 border-bottom-light border-left-light'>
          <%= link_to(d[:dept_name], 'departments/'+d[:dept_code], {}) %>
        </div>
      <% end %>
      <div class='clearfix'></div>
    </div>

  </div>

</div>
<script type='text/javascript'>
(function(){
  'use strict';
  document.getElementById('paginate1').className='block center bg-lg0 py1';
})();
</script>