<h1>New Course</h1>

<%= form_for :course, url: courses_path do |f| %>
  <p>
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </p>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :campus %><br>
    <%= f.text_field :campus %>
  </p>

  <p>
    <%= f.label :room %><br>
    <%= f.text_field :room %>
  </p>

  <p>
    <%= f.label :instructor %><br>
    <%= f.text_field :instructor %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
