<div class="department-body">
      <ul class="breadcrumb">
        <li class="active">
          <%= link_to('Home', root_url, {}) %>
          <span class="divider">-</span>
        </li>

        <li class="active">
          <%= link_to(@course.department, '/departments/'+@course.department, {}) %>
          <span class="divider">-</span>
        </li>

        <li class="active">
          <%= @course.department_and_course_code %>
        </li>

      </ul>

    <hr>


    <div class="course-info">
        <h1>
          <%= link_to(@course.department, '/courses/'+@course.department+'/'+@course.course_code, {}) %><%= '-' + @course.course_code+' - '+@course.name %>
        </h1>

        <div class = 'description'>
          <% if @course.description == '' %>
              No description was found for this course.
          <% else %>
              <%= @course.description %>
          <% end %>
        </div>

        <div class = 'prereqs'>
          <% if @course.prerequisite == '' %>
              No prerequisite information was found for this course.
          <% else %>
              Prerequisites: <%= @course.prerequisite %>
          <% end %>
        </div>

        <div class = 'textbooks'>

        </div>
    </div>

    <hr>


  <h2 class="muted">
    Sections
  </h2>

  <% @listings.each do |season_listing| %>
      <div class='list-container'>

        <h3>
          <%= season_listing.first.first ? season_listing.first.first.season : '' %>
        </h3>


        <% season_listing.each do |course_listing| %>

            <% course_listing.each do |course| %>
                <div class='section'>
                  <table class='table-list'>
                    <header>

                          <div style="float: left;" >
                            <%= course.method %> (<%= link_to(course.course_code_full,'/courses/' + course.department + '/' + course.course_code, {:title => course.name}) %>)
                          </div>


                      <div style="float: right;">
                        Synonym: <%= course.synonym %>
                      </div>
                      <!-- TODO make the synonym copy to clipboard when clicked -->
                    </header>

                    <%# unless course.day_array.empty? %>
                    <% unless Klass.where(:section_id => course.id).empty? %>
                        <%# course.day_array.each do |day| %>
                        <% Klass.where(:section_id => course.id).each do |day| %>
                            <tr>
                              <td>
                                <div class='table-list-row'>
                                  <div class="pure-g">
                                    <div class="pure-u-3-8">
                                      <%= day.day_full %>, <%= day.start_time_twelve_hour %> - <%= day.end_time_twelve_hour %>
                                    </div>

                                    <div class="pure-u-1-4">
                                      <%= course.instructor %>
                                    </div>

                                    <div class="pure-u-1-8">
                                      <%= day.room %>
                                    </div>

                                    <div class="pure-u-1-4">
                                      <span style="float: right;">
                                        <%= course.start_date %> - <%= course.end_date %>
                                      </span>
                                    </div>
                                  </div>
                                </div>
                              </td>
                            </tr>
                        <% end %>
                    <% else %>
                        <tr class='course'>
                          <td>
                            <div class="pure-g">
                              <div class="pure-u-3-8">
                                -
                              </div>

                              <div class="pure-u-1-4">
                                <%= course.instructor %>
                              </div>

                              <div class="pure-u-1-8">
                                <%= '' %>
                              </div>

                              <div class="pure-u-1-4">
                              <span style="float: right;">
                                <%= course.start_date %> - <%= course.end_date  %>
                              </span>
                              </div>
                            </div>
                          </td>
                        </tr>
                    <% end %>
                  </table>

                  <!-- For each schedule, add a button that would add this section to that schedule -->
                  <!-- For now, this is just a dummy form. Will probably need to use AJAX to "nicely" add sections to schedules -->
                  <%= form_for course, html: {:class => 'pure-form'} do %>
                      <button class="pure-button">Add to</button>
                      <%= select('section', 'schedule_id', @user.schedules.collect{|s| [s.name, s.id]}, {include_blank: 'Select a schedule'}, {class: 'pure-input-1-4' }) %>
                  <% end %>
                </div>
            <% end %>
        <% end %>
      </div>
  <% end %>
</div>