<div class="department-body">
  <div class="pure-g">
    <div class="pure-u">
      <ul class="breadcrumb">
        <li class="active">
          <%= link_to('Home', root_url, {}) %>
          <span class="divider">-</span>
        </li>

        <li class="active">
          <%= link_to(@course.department, 'department/'+@course.department, {}) %>
          <span class="divider">-</span>
        </li>

        <li class="active">
          <%= @course.course_code %>
        </li>

      </ul>
    </div>

    <hr>

    <div class="pure-u">
      <div class="course-info">
        <h1>
          <%= link_to(@course.course_code, 'courses/'+@course.department+'/'+@course.code, {}) %>
        </h1>
      </div>
    </div>

    <hr>

  </div>

  <h2 class="muted">
    Sections
  </h2>

  <% @listings.each do |season_listing| %>
      <div class='list-container'>

        <h5>
          <%= season_listing.first.first ? season_listing.first.first.season : '' %>
        </h5>


        <% season_listing.each do |course_listing| %>

            <% course_listing.each do |course| %>
                <div class='section'>
                  <table class='table-list'>
                    <header>
                      <h6>
                        <span style="float: left;">
                          <%= course.method_name %> <div title='<%= course.name %>'>(<%= link_to(course.course_code_full,
                                                                                                 'courses/' + course.department + '/' + course.code, {}) %>)</div>
                        </span>
                      </h6>
                      <span style="float: right;">
                        Synonym: <%= course.synonym %>
                      </span>
                      <!-- TODO make the synonym copy to clipboard when clicked -->
                    </header>

                    <% unless course.day_array.empty? %>
                        <% course.day_array.each do |day| %>
                            <tr>
                              <td>
                                <div class='table-list-row'>
                                  <div class="pure-g">
                                    <div class="pure-u-3-8">
                                      <%= day %>, <%= course.start_time %> - <%= course.end_time %>
                                    </div>

                                    <div class="pure-u-1-4">
                                      <%= course.instructor %>
                                    </div>

                                    <div class="pure-u-1-8">
                                      <%= course.room %>
                                    </div>

                                    <div class="pure-u-1-4">
                                      <span style="float: right;">
                                        <%= course.start_date %> - <%= course.end_date %>
                                      </span>
                                    </div>
                                  </div>
                                </div>
                              </td>
                            </tr>
                        <% end %>
                    <% else %>
                        <tr class='course'>
                          <td>
                            <div class="pure-g">
                              <div class="pure-u-3-8">
                                -
                              </div>

                              <div class="pure-u-1-4">
                                <%= course.instructor %>
                              </div>

                              <div class="pure-u-1-8">
                                <%= course.room %>
                              </div>

                              <div class="pure-u-1-4">
                              <span style="float: right;">
                                <%= course.start_date %> - <%= course.end_date  %>
                              </span>
                              </div>
                            </div>
                          </td>
                        </tr>
                    <% end %>
                  </table>
                </div>
            <% end %>
        <% end %>
      </div>
  <% end %>
</div>