<div class="container">

  <h2 class='h2 ml1 mr1'><%= link_to(@course.department, '/courses/'+@course.department+'/'+@course.course_code, {}) %><%= '-' + @course.course_code+' - '+@course.name %></h2>
  <h4 class='h4 ml1 mr1'>Description</h4>

  <div class='ml1 mr1'>
    <% if @course.description == '' %>
        <p>No description was found for this course.</p>
    <% else %>
        <p><%= @course.description %></p>
    <% end %>
  </div>

  <div class='ml1 mr1'>
    <% if @course.prerequisite == '' %>
        <p>No prerequisite information was found for this course.<p>
    <% else %>
        <h4 class='h4'>Prerequisites</h4>
        <p><%= @course.prerequisite %></p>
    <% end %>
  </div>

  <div class = 'textbooks'>
    <!-- @TODO -->
  </div>

  <h4 class='h4 ml1 mr1'>Sections</h4>

  <% @listings.each do |season_listing| %>

    <div class='border-light rounded ml1 mr1 mb2'>
      <h4 class='h4 m0 px1 py1 bg-lg1'><%= season_listing.first.first ? season_listing.first.first.season : '' %></h4>
    
      <% season_listing.each do |course_listing| %>
        <% course_listing.each do |course| %>
          <div class='px1 py1 border-top-light'>
            <h6 class='h6 m0 inline-block'><%= course.method %> (<%= link_to(course.course_code_full,'/courses/' + course.department + '/' + course.course_code, {:title => course.name}) %>)</h6>
            <h6 class='h6 m0 inline-block right'>Synonym: <button class='copy button rounded bg-blk2 white'><%= course.synonym %></button></h6>
          </div>

        <%# unless course.day_array.empty? %>
        <% unless Klass.where(:section_id => course.id).empty? %>
        <%# course.day_array.each do |day| %>
          <% Klass.where(:section_id => course.id).each do |day| %>
            <ul class='list-reset px1 py1 mb0 border-top-light'>
              <li class='bold'><%= day.day_full %>, <%= day.start_time_twelve_hour %> - <%= day.end_time_twelve_hour %></li>
              <li><%= course.instructor %></li>
              <li><%= day.room %></li>
              <li class='small'><%= course.start_date %> - <%= course.end_date %>
            </ul>
          <% end %>
        <% else %>
          <%= course.instructor %>
          <%= course.start_date %> <%= course.end_date  %>
        <% end %>
        <!-- For each schedule, add a button that would add this section to that schedule -->
        <!-- For now, this is just a dummy form. Will probably need to use AJAX to "nicely" add sections to schedules -->
        <% unless @user.nil? %>
            <%= form_for course, html: {:class => 'pure-form'} do %>
                <button class="pure-button">Add to</button>
                <%= select('section', 'schedule_id', @user.schedules.collect{|s| [s.name, s.id]}, {include_blank: 'Select a schedule'}, {class: 'pure-input-1-4' }) %>
            <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
</div>