<div class='container'>

  <h4 class='h4 ml1 mr1'>Courses</h4>

  <% @courses.each do |c| %>
    <div class='border-light rounded ml1 mr1 mb2'>

      <div class='block bold px1 py1 bg-lg1 border-bottom-light'>
        <%= c.department %> - <%= c.course_code %>
        <span class='right'>
          <% if c.credits == 1.0 %>
            <span class='h6 bg-blk0 yellow rounded px1 py0'> Full Year</span>
          <% end %>
          <% if c.all_seasons.include? 'F' %>
            <span class='h6 bg-blk0 red rounded px1 py0'> Fall</span>
          <% end %>
          <% if c.all_seasons.include? 'W' %>
            <span class='h6 bg-blk0 blue rounded px1 py0'> Winter</span>
          <% end %>
          <% if c.all_seasons.include? 'S' %>
            <span class='h6 bg-blk0 green rounded px1 py0'> Summer</span>
          <% end %>
        </span>
      </div>

      <div class='px1 py1'>
        <%= link_to('/courses'+'/'+c.department+'/'+c.course_code, {}) do %>
          <%= c.name %>
        <% end %>
       
        <span class='right'>
          Credits: <span class='bold'><%= c.credits %></span>
        </span>
      </div>

    </div>
  <% end %>
  <div class='clearfix'></div>

</div>