<!DOCTYPE html>
<html>
<head>
  <title>Thundr | The (unofficial) course catalog for Lakehead University students</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "http://yui.yahooapis.com/pure/0.3.0/pure-min.css", :media => "all" %>

  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag 'favicon.png' %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="content">
      <div class="header">
        <div class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal menu-bar">
          <a class="pure-menu-heading" href="/"><%= image_tag('52-x-45-cloud-only-white.png', alt: "Thundr") %></a>


          <div class="pure-menu-heading" style="float: right;">
            <%= render 'layouts/search' %>
          </div>

          <ul style="float: right;">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
          </ul>




          <!--
          <div class="pure-menu-heading" style="float: right;">
            <%# if current_user %>
                <%#= current_user.username %>
            <%# end %>
          </div>
          -->
        </div>
      </div>

      <div class="content-body">
        <%= content_for?(:content) ? yield(:content) : yield %>
      </div>

      <div class="footer">
        Have ideas? Wanna help out? Check out the project on <a href="https://github.com/flyingtoaster0/lakehead-scheduler">GitHub!</a>
      </div>
    </div>

</body>
</html>
